.manager-container{
    display:flex;
    flex-direction:column;
    margin:40px 0px;
    gap:64px;
}

.container{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:8px;
    width:80%;
    margin:0 auto;
    border-radius:15px;
    background-color: #004080;
}

#supply-total-container{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20px;
    width:90%; 
    height:15%; 
    margin:32px; 
    border-radius: 15px;
    background:rgba(255, 255, 255, 0.2);
}

#package-total-container{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20px;
    width:90%; 
    height:15%; 
    margin:32px; 
    border-radius: 15px;
    background:rgba(255, 255, 255, 0.2);
}

#insurance-total-container{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20px;
    width:90%; 
    height:15%; 
    margin:32px; 
    border-radius: 15px;
    background:rgba(255, 255, 255, 0.2);
}


table{
    text-align:center;
    margin-bottom:16px;
    background:rgba(255, 255, 255, 0.2);
    color:white;
    width:97%
}

th, td {
    border: 1px solid white;
    padding:4px;
    margin: 0px auto;
  }

.title{
    color:white;
    font-size:28px;
}

#finance-container{
    background: #004080;
    color:white;
    margin:0px auto;
}

.filter{
    display:flex; 
    flex-direction:column; 
    align-items:center; 
    color:white;
    background:#004080;
    width:80%;
    margin: 0 auto;
    border-radius:15px;
    margin-top:20px;
}

.filter-boxes{
    padding:20px 20px;
    display:flex;
    justify-content:space-between;
    gap:20px;

}

.week-navigation{
    display:flex;
    justify-content:center;
    background:#004080;
    border-radius:10px;
    margin:32px auto;
    width:80%;
}